{% extends 'base.html' %}

{% block title %} Acquisto {% endblock %}

{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block header1 %}
  <h1> Effettua un Acquisto </h1>
{% endblock %}

{% block content %}

<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Completa l'acquisto</button>
      </form>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="artist-photos-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
          {% for foto in artist_photos %}
          <li data-target="#artist-photos-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        <br>
        <div class="carousel-inner">
          {% for foto in artist_photos %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'APPfoto:ricerca_risultati' foto.name 'name' %}">
              <h2>{{ foto.name }}</h2>
              <br>
              <img src="{{ foto.actual_photo.url }}" alt="{{ foto.name }}" style="max-width: 400px; max-height: 400px;">
            </a>
            <br>
            <br>
            <p>Foto dello stesso artista</p>
            <br>
            <br>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#artist-photos-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#artist-photos-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>



{% endblock %}
