{% extends 'base.html' %}

{% block title %}Elenco Fotografi{% endblock %}

{% load static %}

{% block header1 %}
  <h1>Elenco Fotografi</h1>
{% endblock %}

{% block content %}
<h2>Elenco di tutti i Fotografi</h2>
    <br>
    <h3> Ordina per: </h3>

<div class="btn-group" role="group">
    <a href="?sort=positive_reviews" class="btn btn-secondary">Recensioni Migliori</a>
    <a href="?sort=alphabetical" class="btn btn-secondary">Alfabetico</a>
    <a href="?sort=best_seller" class="btn btn-secondary">Best Seller</a>
</div>
<br>
<br>
<br>
<br>

{% if members %}
    {% for member in members %}
    <div class="card mb-3">
        <div class="card-body">
            <a href="{% url 'APPfoto:ricerca_risultati' member.id 'artist' %}">
                    {{ member.username }}
                </a>
                <p class="card-text"> Ha creato : {{ member.foto_count }} fotografie</p>
                <p class="card-text"> Valutazione degli Utenti: {{ member.average_review }}</p>
                <p class="card-text"> Foto vendute: {{ member.venduti_count }} </p>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>Non ci sono fotografi registrati... Strano, molto strano</p>
{% endif %}
<br>

{% endblock %}