{% extends 'base.html' %}

{% block title %} Recensioni di {{ user.username }} {% endblock %}

{% block header1 %}
  <h1>Recensioni di {{ user.username }} </h1>
  <p>Vediamo cosa ti è piaciuto
    {% if user.is_authenticated %}
     {{ user.username }}
    {% else %}
    Utente non registrato
    {% endif %}
  </p>
{% endblock %}

{% block content %}

     <br> <a href="{% url 'APPfoto:situation' %}" class="btn btn-info">Cronologia Acquisti</a>
    <br>
    <br>
    <br>
  <h2>Recensioni di {{ user.username }}</h2>
  {% for recensione in recensioni_utente %}
    <div class="card mb-4">
      <div class="card-body">
        <!-- INTERNPO DELLA CARD -->
        <h5 class="card-title">{{ recensione.foto.name }} di : {{ recensione.fotografo }}</h5>
        <p class="card-text">{{ recensione.testo_della_recensione }}</p>
        <p class="card-text"> Voto dato all'acquisto: {{ recensione.voto }}</p>

        <!-- AGGIUNGI ROBA QUI EVENTUALMENTE -->
      </div>
    </div>
  {% endfor %}
{% endblock %}
